  <%- contentFor('hero')%>
  <section class="hero">
      <div class="hero-content">
          <h2> Welcome! </h2>
          <a href="/" class="btn btn-lg btn-primary">Get started</a>
          <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
          <a href="/about" class="btn btn-lg btn-primary">About</a>
      </div>
  </section>
  <%- contentFor('body') %>
  <div class="text-center">
      Home Page
  </div>
    